
.clickable-1, .clickable-4 {
    background-color: #1A9DE5;
    border: none;

}

.clickable-2, .clickable-5 {
    background-color: #FC5155;
    border: none;
}

.clickable-3 {
    background-color: #FFC000;
    border: none;
}

.content {
    background-color: #C0C0C0;
    border: none;
    color: black;
}

.content:focus{
    background-color: #DCDCDC;
}

.accordion-form input {
    margin-bottom: 2px;
    color: black;
}

.accordion-form input:focus {
    background-color: #DCDCDC;
}

.accordion-form input::placeholder {
    color: black;
}

.accordion-form textarea::placeholder {
    color: black;
}

.accordion-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #1A9DE5 inset;
}
