.CodeMirror {
    border: 2px solid slategray;
    border-radius: 0.4em;
}

.callout {
    padding: 10px 20px;
    max-width: 95%;
    margin: 20px auto;
    background-color: #F5F5F5;
    color: black;
    border-radius: 5px;
  }
  
  .instruction{
    border-left: 3px solid #247F3B;
  }
  
  .note {
   border-left: 3px solid #1375AA;
  }
  
  .warning {
   border-left: 3px solid #D30307;
  }
  
  .definition {
  border-left: 3px solid #2B4497;
  }
  
  .function {
  border-left: 3px solid #8e44ad;
  }

  .example {
      width: 100%;
  }

  .html {
    width: 60%;
  }

  .css {
    width: 35%;
  }

  .collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    margin-top: 4px;
  
  }
  
  /* Add a background color to the button if it is hovered over*/
  .active, .collapsible:hover {
    filter: brightness(85%)
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .hidden-content {
    padding: 12px 18px 0px 18px;
    overflow: hidden;
    background-color: #f1f1f1;
    display: none;
  border-radius: 5px;
  }
  
  .toggle-content {
    display: block;
  }
  
  .yellow {
  background-color: #FFC000;
  }
  
  .red {
  background-color: #FC5155;
  }
  
  .blue {
  background-color: #1A9DE5;
  }